
.popupMenu {
    position: absolute;
    top: 1; /* Position it at the top of the task card */
    right: 0; /* Position it at the right side of the task card */
    background-color: white;
    border-radius: 5px;
    padding: 8px 15px; /* Adjust the padding */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add shadow for better visibility */
    z-index: 0; /* Ensure it's above other content */
    width: 100px;
    
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

  }
  
  .option{
    padding: 5px 5px;
    text-align: left;
    font-weight: 800px;
   color: #000000;
   font-size: 14px;
  }