/* TaskCard.module.css */

.taskCard {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    align-items: center;
    font-size: 10px;
  }
  
  .priorityDot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .title {
    display: block;
    font-weight: 400;
    border: 1px solid;
    font-size: 18px;
  }
  
  .popupMenuIcon {
    margin-left: auto;
    cursor: pointer;
    font-size: 20px;
    border: 1px solid;
  }
  
  .popupMenu {
    border: 1px solid;
    position: relative;
  }
  .checklistStatus{
    display: flex;
    justify-content: space-between;
  }
  .checklist {
    display: flex;
    flex-direction: column;
   
    align-items: flex-start;
    border: 1px solid;
  }
  
  .checklistItem {
    display: flex;
    align-items: center;
    margin-right: 10px;
    border: 1px solid;
  }
  
  .collapseIcon {
    cursor: pointer;
  }
  
  .cardbottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }
  
  .dueDate {
    background-color: #eeecec;
    border-radius: 15px;

  }
  .columnchips{
    font-size: 12px;
  }
  .columnButtons {
    display: flex;
    
  }
  
  .columnButtons button {
    background-color: #eeecec;
    border: none;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 20px;
    cursor: pointer;
  }
  