.leftSection {
    width: 14%; /* 20% width */
    height: 100%;
    background-color: #ffffff; /* Background color */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: 500;
   
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 20px;
    font-size: 1.3rem;
    color: #000000;
    font-weight: 700;
  }
  
  .logo img {
    width: 23px; /* Adjust the width of the image */
    height: 23px; /* Adjust the height of the image */
    margin-right: 10px; /* Add some spacing between the image and the text */
  }
  .navLinks {
    list-style: none;
    padding: 0px;
    
  }
  
.navItem {    padding: 20px;
    cursor: pointer;
    gap: 1rem;
    font-size: 1.3rem;
    display: flex;
    justify-content: flex-start;
   

  }
  
  .navItem.active {
    background-color: #4391ED1A; /* Active link background color */
    color: #000000;/* Active link text color */
    font-weight: 600;
  }
  .logoutButton {
    margin-top: auto; /* Push logout button to the bottom */
    padding: 10px;
    cursor: pointer;
    font-size: 1.3rem;
    color: #cf3636; /* Logout icon and text color */
    background-color: transparent; /* Remove background color */
    border: none; /* Remove border */
    margin-bottom: 3rem;
     display: flex;
     gap:14px;
    justify-content: center;
    
  }
  .icon {
    margin-right: 12px; /* Add space between icon and text */
    font-size: 18px; /* Adjust icon size */
  }